@model FishingCapstone.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
    int thisMonth = DateTime.Now.Month;
}

    <h1>Calendar By Destination</h1>

<div>
    <h4>Destination: @Html.DisplayFor(model => model.DestinationName)</h4>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Species</th>
                <th scope="col">January</th>
                <th scope="col">February</th>
                <th scope="col">March</th>
                <th scope="col">April</th>
                <th scope="col">May</th>
                <th scope="col">June</th>
                <th scope="col">July</th>
                <th scope="col">August</th>
                <th scope="col">September</th>
                <th scope="col">October</th>
                <th scope="col">November</th>
                <th scope="col">December</th>
            </tr>
            <tbody>
                @foreach (var item in Model.Calendar.CalendarByDestinationRows)
                {
                    <tr class="table-light">
                        <td>
                            <p>@item.Species.SpeciesName</p>
                        </td>
                        @for (int i = 0; i < 12; i++)
                        {
                            if (thisMonth == i + 1)
                            {
                                <td>
                                    @if (item.MonthlyRatings[i] == "Best")
                                    {
                                        <span class="badge badge-danger">@item.MonthlyRatings[i]</span>
                                    }
                                    else if (item.MonthlyRatings[i] == "Good")
                                    {
                                        <span class="badge badge-primary">@item.MonthlyRatings[i]</span>
                                    }
                                    else if (item.MonthlyRatings[i] == "Fair")
                                    {
                                        <span class="badge badge-success">@item.MonthlyRatings[i]</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-light">@item.MonthlyRatings[i]</span>
                                    }
                                </td>
                            }
                            else
                            {                                
                                <td>
                                    @if (item.MonthlyRatings[i] == "Best")
                                    {
                                        <span class="badge badge-danger">@item.MonthlyRatings[i]</span>
                                    }
                                    else if (item.MonthlyRatings[i] == "Good")
                                    {
                                        <span class="badge badge-primary">@item.MonthlyRatings[i]</span>
                                    }
                                    else if (item.MonthlyRatings[i] == "Fair")
                                    {
                                        <span class="badge badge-success">@item.MonthlyRatings[i]</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-light">@item.MonthlyRatings[i]</span>
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestinationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
