@model FishingCapstone.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
    int thisMonth = DateTime.Now.Month;
}

    <h1>Calendar By Destination</h1>

<div>
    <h4>Destination: @Html.DisplayFor(model => model.DestinationName)</h4>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Species</th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="1">January</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="2">February</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="3">March</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="4">April</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="5">May</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="6">June</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="7">July</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="8">August</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="9">September</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="10">October</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="11">November</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="12">December</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Calendar.CalendarByDestinationRows)
            {
                <tr class="table-light">
                    <td>
                        <p><a asp-controller="Species" asp-action="Calendar" asp-route-id="@item.Species.SpeciesId">@item.Species.SpeciesName</a></p>
                    </td>
                    @for (int i = 0; i < 12; i++)
                    {
                        if (thisMonth == i + 1)
                        {
                            <td>
                                @if (item.MonthlyRatings[i] == "Best")
                                {
                                    <span class="badge badge-danger">@item.MonthlyRatings[i]</span>
                                }
                                else if (item.MonthlyRatings[i] == "Good")
                                {
                                    <span class="badge badge-primary">@item.MonthlyRatings[i]</span>
                                }
                                else if (item.MonthlyRatings[i] == "Fair")
                                {
                                    <span class="badge badge-success">@item.MonthlyRatings[i]</span>
                                }
                                else
                                {
                                    <span class="badge badge-light">@item.MonthlyRatings[i]</span>
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                @if (item.MonthlyRatings[i] == "Best")
                                {
                                    <span class="badge badge-danger">@item.MonthlyRatings[i]</span>
                                }
                                else if (item.MonthlyRatings[i] == "Good")
                                {
                                    <span class="badge badge-primary">@item.MonthlyRatings[i]</span>
                                }
                                else if (item.MonthlyRatings[i] == "Fair")
                                {
                                    <span class="badge badge-success">@item.MonthlyRatings[i]</span>
                                }
                                else
                                {
                                    <span class="badge badge-light">@item.MonthlyRatings[i]</span>
                                }
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestinationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
