@model FishingCapstone.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

    <h1>Destination Comparison</h1>

<div>
    <h4><p>Comparing @Model.DestinationName to @Model.DestinationComparision.Destination2.DestinationName in @Model.DestinationComparision.MonthToCompare.MonthName</p></h4>
</div>


<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><p></p></th>
                <th scope="col"><p></p></th>
                <th scope="col" colspan="2"><p>Click Destination to Select Trip</p></th>
            </tr>
            <tr>
                <th scope="col"><p></p></th>
                <th scope="col"><p>Species</p></th>
                <th scope="col"><p><a href="../Trips/CreateFromComparison/?DestinationId=@Model.DestinationId&MonthId=@Model.DestinationComparision.MonthToCompare.MonthId">@Model.DestinationName</a></p></th>
                <th scope="col"><p><a href="../Trips/CreateFromComparison/?DestinationId=@Model.DestinationComparision.Destination2.DestinationId&MonthId=@Model.DestinationComparision.MonthToCompare.MonthId">@Model.DestinationComparision.Destination2.DestinationName</a></p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DestinationComparision.CompareChart.CompareChartRows)
            {
            <tr class="table-light">
                <td>
                    <p><a asp-controller="Species" asp-action="Calendar" asp-route-id="@item.Species.SpeciesId"><img src="~/images/thumbnails/@item.Species.Thumbnail" alt="@item.Species.SpeciesName" width="90"></a></p>
                </td>
                <td>
                    <p><a asp-controller="Species" asp-action="Calendar" asp-route-id="@item.Species.SpeciesId">@item.Species.SpeciesName</a></p>
                </td>
                @for (int i = 0; i < 2; i++)
                {
                    if (@item.SpeciesRatings[i] == "Best")
                    {
                        <td>
                            <span class="badge badge-danger">@item.SpeciesRatings[i]</span>
                        </td>
                    }
                    else if (@item.SpeciesRatings[i] == "Good")
                    {
                        <td>
                            <span class="badge badge-primary">@item.SpeciesRatings[i]</span>
                        </td>
                    }
                    else if (@item.SpeciesRatings[i] == "Fair")
                    {
                        <td>
                            <span class="badge badge-success">@item.SpeciesRatings[i]</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="badge badge-light">@item.SpeciesRatings[i]</span>
                        </td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestinationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
