@model FishingCapstone.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLong)
        </dd>
    </dl>
</div>
<div>
    <p>@Model.DestinationName</p>
</div>
<div>
    <p>@Model.DestinationComparision.Destination2.DestinationName</p>
</div>
<div>
    <p>@Model.DestinationComparision.MonthToCompare.MonthName</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestinationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
