@model FishingCapstone.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLong)
        </dd>
    </dl>
</div>
<div>
    <p>@Model.DestinationName</p>
</div>
<div>
    <p>@Model.DestinationComparision.Destination2.DestinationName</p>
</div>
<div>
    <p>@Model.DestinationComparision.MonthToCompare.MonthName</p>
</div>
<div>
    <table>
        <tr>
            <td><p>Species</p></td>
            <td><p>@Model.DestinationName</p></td>
            <td><p>@Model.DestinationComparision.Destination2.DestinationName</p></td>
        </tr>
        @foreach (var item in Model.DestinationComparision.CompareChart.CompareChartRows)
        {
            <tr>
                <td>
                    <p>@item.Species.SpeciesName</p>
                </td>
                @for (int i = 0; i < 2; i++)
                {

                        <td>
                            <p>@item.SpeciesRatings[i]</p>
                        </td>
                }
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestinationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
