@model FishingCapstone.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLong)
        </dd>
    </dl>
</div>
<div>
    <table>
        <tr>
            <td>Species</td>
            <td>January</td>
            <td>February</td>
            <td>March</td>
            <td>April</td>
            <td>May</td>
            <td>June</td>
            <td>July</td>
            <td>August</td>
            <td>September</td>
            <td>October</td>
            <td>November</td>
            <td>December</td>
        </tr>
        @foreach (var item in Model.Calendar.CalendarRows)
        {
        <tr>
            <td>
                <p>@item.Species.SpeciesName</p>
            </td>
            @for (int i = 0; i < 12; i++)
            {
            <td>
                <p>@item.MonthlyRatings[i]</p>
            </td>
            }
        </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestinationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
