@model FishingCapstone.Models.Explorer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Explorer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplorerFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExplorerFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplorerLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExplorerLast)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExplorerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
