@model FishingCapstone.Models.Explorer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Explorer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplorerFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExplorerFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplorerLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExplorerLast)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExplorerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
