@model IEnumerable<FishingCapstone.Models.Explorer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExplorerFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExplorerLast)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExplorerFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExplorerLast)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExplorerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExplorerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExplorerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
