@model FishingCapstone.Models.Explorer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";

}

<h1>My Fishing Trips</h1>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
</div>
@*@foreach (var trip in Model.Trips)
    {
        <b>@trip.Destination.DestinationName</b>
        <br>
    }*@
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>
<!--The div element for the map -->
<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Milwaukee
        var latlongcoords = { lat: 43.0389, lng: 87.9065 };
        // The map, centered at Milwaukee
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 1, center: latlongcoords });
        // Add markers to the map
        @foreach(var item in Model.Trips){
             <text>
                var marker = new google.maps.Marker({
                  map: map,
                  position: { lat: @item.Destination.DestinationLat, lng: @item.Destination.DestinationLong },
                  title: '@item.TripName'
                });
                var contentString = '<div id="content">' +
                                    '<div id="siteNotice">' +
                                    '</div>' +
                                    '<h1 id="firstHeading" class="firstHeading">@item.TripName</h1>' +
                                    '<div id="bodyContent">' +
                                    '<p>Date: @item.TripStart - @item.TripEnd</p>' +
                                    '<p>Guide: @item.TripGuideService</p>' +
                                    '<p><a href="../Trips/Details/@item.TripId">' +
                                    'Photo Album</a> ' +
                                    '</p>' +
                                    '</div>' +
                                    '</div>';
            </text>
        }
        //var marker = new google.maps.Marker({ position: latlongcoords, map: map });



            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });


            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@APIKEYS.GoogleAPIKey&callback=initMap">
</script>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExplorerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
