@model FishingCapstone.Models.Month

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>@Html.DisplayFor(model => model.MonthName): Best Destinations</h1>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Destination</th>
                @foreach (var item in Model.BestSpecies)
                {
                    <th scope="col"><a asp-controller="Species" asp-action="Calendar" asp-route-id="@item.SpeciesId">@item.SpeciesName</a></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CalendarByMonth.CalendarByMonthRows)
            {
            <tr>
                <td>
                    <p><a asp-controller="Destinations" asp-action="Calendar" asp-route-id="@item.Destination.DestinationId">@item.Destination.DestinationName</a></p>
                </td>
                @for (int i = 0; i < Model.BestSpecies.Count; i++)
                {
                    if (@item.SpeciesRatings[i] == "Best")
                    {
                        <td>
                            <span class="badge badge-danger">@item.SpeciesRatings[i]</span>
                        </td>
                    }
                    else if (@item.SpeciesRatings[i] == "Good")
                    {
                        <td>
                            <span class="badge badge-primary">@item.SpeciesRatings[i]</span>
                        </td>
                    }
                    else if (@item.SpeciesRatings[i] == "Fair")
                    {
                        <td>
                            <span class="badge badge-success">@item.SpeciesRatings[i]</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="badge badge-light">@item.SpeciesRatings[i]</span>
                        </td>
                    }

                }
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MonthId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
