@model FishingCapstone.Models.Month

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>The Best Destinations  To Fish In @Html.DisplayFor(model => model.MonthName)</h1>

<div>
    <h4>Month</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthName)
        </dd>
    </dl>
</div>
<div>
    <table>
        <tr>
            <td>Destination</td>
            @foreach (var item in Model.BestSpecies)
            {
                <td>@item.SpeciesName</td>
            }
        </tr>
        @foreach (var item in Model.CalendarByMonth.CalendarByMonthRows)
        {
        <tr>
            <td>
                <p>@item.Destination.DestinationName</p>
            </td>
            @for (int i = 0; i < Model.BestSpecies.Count; i++)
            {


                if (@item.SpeciesRatings[i] == "Best")
                {
                    <td>
                        <p><b>@item.SpeciesRatings[i]</b></p>
                    </td>
                }
                else
                {
                    <td>
                        <p>@item.SpeciesRatings[i]</p>
                    </td>
                }

            }
        </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MonthId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
