@model FishingCapstone.Models.Species

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

    <h1>Let's catch some @Html.DisplayFor(model => model.SpeciesName)!</h1>

<div>
    <h4>Here are the best places and best times to catch @Html.DisplayFor(model => model.SpeciesName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.SpeciesName)
        </dt>
        <dd class="col-sm-10">
                <img src="~/images/thumbnails/@Model.Thumbnail" alt="@Model.SpeciesName" height="42">
        </dd>
    </dl>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Destination</th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="1">January</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="2">February</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="3">March</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="4">April</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="5">May</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="6">June</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="7">July</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="8">August</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="9">September</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="10">October</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="11">November</a></th>
                <th scope="col"><a asp-controller="Months" asp-action="Calendar" asp-route-id="12">December</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Calendar.CalendarBySpeciesRows)
            {
            <tr class="table-light">
                <td>
                    <p><a asp-controller="Destinations" asp-action="Calendar" asp-route-id="@item.Destination.DestinationId">@item.Destination.DestinationName</a></p>
                </td>
                @for (int i = 0; i < 12; i++)
                {
                    if (@item.MonthlyRatings[i] == "Best")
                    {
                        <td>
                            <span class="badge badge-danger">@item.MonthlyRatings[i]</span>
                        </td>
                    }
                    else if (@item.MonthlyRatings[i] == "Good")
                    {
                        <td>
                            <span class="badge badge-primary">@item.MonthlyRatings[i]</span>
                        </td>
                    }
                    else if (@item.MonthlyRatings[i] == "Fair")
                    {
                        <td>
                            <span class="badge badge-success">@item.MonthlyRatings[i]</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="badge badge-light">@item.MonthlyRatings[i]</span>
                        </td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpeciesId">Edit</a> |
    <a asp-action="Index">Back to Species List</a>
</div>
