@model IEnumerable<FishingCapstone.Models.Species>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Select your favorite fish to catch.</h1>
<div>
    <h4>See the best places and the best times to catch the best fish!</h4>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Species</th>
            <th scope="col">Calendar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Calendar" asp-route-id="@item.SpeciesId"><img src="~/images/thumbnails/@item.Thumbnail" alt="@item.SpeciesName" width="90"></a>
            </td>
            <td>
                <a asp-action="Calendar" asp-route-id="@item.SpeciesId">@Html.DisplayFor(modelItem => item.SpeciesName)</a>
            </td>
            <td>
                <a asp-action="Calendar" asp-route-id="@item.SpeciesId">Calendar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
