@model FishingCapstone.Models.Trip

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explorer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explorer.ExplorerId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination.DestinationId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripGuideService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripGuideService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month.MonthId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripEnd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TripId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
