@model FishingCapstone.Models.Trip

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explorer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explorer.ExplorerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination.DestinationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripGuideService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripGuideService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month.MonthId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
