@model IEnumerable<FishingCapstone.Models.Trip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Explorer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripGuideService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Explorer.ExplorerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.DestinationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripGuideService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month.MonthId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
