@model IEnumerable<FishingCapstone.Models.Trip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Your Fishing Trips</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TripGuideService)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TripStart)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TripEnd)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination.DestinationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripGuideService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month.MonthName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripEnd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a> |
                    <a asp-action="PhotoMap" asp-route-id="@item.TripId">See Map</a>
                </td>
            </tr>
        }
    </tbody>
</table>
